/*
Simple CSS which as far as I can tell is only required to manage the size of the webpage

This css was originally copied from livespace so I am leaving this in the comment.
http://blogg.livespace.se/
Your number #1 guide to grow YOUR Twitch channel with
marketing, branding, growth, promtion, motivation and more.
With over 3 years experince from working with both
partnered and non-partnered streamers.
http://twitch.livespace.se/
*/
* { margin: 0; padding: 0; }

  body {
        font-family: sans-serif;
        font-size: 19px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
   }
    #uptime {
        /*Text colour*/
        color: white;
        /*Transparent background*/
        background-color: rgba(0,0,0,0);
        /*font-family: 'Droid sans', sans-serif;*/
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        position: absolute;
        font-size: 40px;
        top: 5px;
        left: 10px;
        text-align: center;
        overflow: hidden;
        word-wrap: break-word;
    }
    
     
